<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200" style="text-align:left;">

    <img style="width:20%;align:center;" src="{{image_src}}">
    <br>
    <h1>Welcome in Paymob Fraud System</h1>
<br>
<h2 >We are send this email to reset your password based on your request</h2>
<h3>your <span style="color:red;">new Password</span> is :<span style="font-size:larger; color:red;"> {{password}}</span></h3>
<br>
<h3>you can login to your account with new password and reset your password in your profile page thank you.</h3>
<h4>Fraud Admins team.</h4>"
</div>
